appdirs==1.4.0
beautifulsoup4==4.5.3
Django==1.10.5
django-appconf==1.0.1
django-compressor==2.0
django-modelcluster==2.0
django-taggit==0.18.3
django-treebeard==4.1.0
djangorestframework==3.5.3
flake8==2.5.2
flake8-import-order==0.6.1
html5lib==0.999999999
mccabe==0.4.0
olefile==0.44
packaging==16.8
pep8==1.7.0
pep8-naming==0.3.3
Pillow==4.0.0
pyflakes==1.0.0
pyparsing==2.1.10
pytz==2016.10
rcssmin==1.0.6
requests==2.13.0
rjsmin==1.0.12
six==1.10.0
Unidecode==0.4.20
wagtail==1.8.1
webencodings==0.5
Willow==0.4
